.weather{
    width: 350px;
    border-radius: 6px;
    box-shadow: 10px -2px  20px 2px rgb(0 0 0/30%);
    color: #fff;
    background-color: #333;
    margin: 20px auto 0 auto;
}
.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.city{
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}
.weather-dscrb{
    font-weight: 400;
    font-size: 14px ;
    line-height: 1;
    margin: 5px 0;
}
.weather-icon{
    width: 100px;
}
.bottom{
    /* margin-left: 40px;
    padding-bottom: 20px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 40px 20px 40px ;
}
.temperature{
    font-weight: 600;
    font-size: 70px;
    width: auto;
    letter-spacing: -5px;
    margin: 10px 0;
}
.details{
    width: 100%;
    padding-left: 20px;
}
.parameter-row{
    display: flex;
    justify-content: space-between;
}
.paremeter-label{
    text-align: left;
    font-weight: 400;
    font-size: 12px
}
.paremeter-value{
    text-align: right;
    font-weight: 600;
    font-size: 12px;
}